*
{
    position: relative;
    z-index: 0;
}

body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

a
{
    color: white;
}


#nav_bar
{
    color: #FFF;
    padding: 10px;
    height: 80px;
    background: #333;
    transition: .5s;
}

.nav_button
{
    float: left;
    height: 40px;
    width: 110px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    background: #9A1B29;
    color: #FFF;
    border: none;
    border-radius: 17px;
    transition: .5s;
}

.nav_button:hover
{
    color: #9A1B29;
    background: #FFF;
}

#logo
{
    float: left;
    height: 100px;
    width: 256px;
    margin-top: -10px;
    transition: .5s;
}

#nav_btn
{
    width: 370px;
    margin-left: 70%;
    transition: .5s;
}

#home_button
{
    margin-left: 0;
    height: 30px;
    padding-top: 10px;
}

#login_button
{
    height: 30px;
    padding-top: 10px;
}

#back_button
{
    height: 30px;
    padding-top: 10px;
}

#menu_icon
{
    float: left;
    z-index: 100;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

#logo_small_screen
{
    float: right;
    height: 100px;
    width: 256px;
    margin-top: -10px;
    align-content: center;
    display: none;
    transition: .5s;
}

/* to rotate icon */
.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
    transition: all .5s;
}
.upright {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
  -moz-transform: rotate(0deg); /* Firefox */
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
  -o-transform: rotate(0deg); /* Opera */
    transition: all .5s;
}

/* end rotate icon */

#drop_menu
{
    height: auto;
    width: 100%;
    background: transparent;
    display: none;
}


.menu_item
{
    height: 70px;
    width: 100%;
    background: #9A1B29;
    color: white;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

.menu_item:hover
{
    background: white;
    color: #9A1B29;
    cursor: pointer;
}

.container
{
    z-index: -100;
    width: inherit;
}

#name
{
    text-align: center;
    color: #9A1B29;
    font-size: 30px;
    transition: .5s;
}

#num_of_users
{
    margin-top: -30px;
    text-align: center;
    transition: .5s;
}

.col-md-8
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#chat
{
    width: 100%;
    height: 56vh;
    overflow-y: scroll;
    padding-right: 0;
}

.well
{
    margin-top: 10px;
    width: fit-content;
    background: #9A1B29;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.sent
{
    margin-top: 10px;
    width: fit-content;
    background: white;
    color: #9A1B29;
    padding: 10px;
    border-radius: 10px;
}

#messageForm
{
    position: fixed;
    width: 100%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    text-align: center;
    background: white;
    background-image: url("../imgs/grey-washed-wall.png");
}

.form-group
{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#message
{
    float: left;
    width: 300px;
    height: 110px;
    resize: none;
    margin-right: 20px;
}

#button_elements
{
    float: left;
    height: 110px;
    width: 100px;
}

#send_button
{
    width: 100%;
    height: 50px;
    color: white;
    background: #9A1B29;
}

#upload_btn
{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    color: white;
    background: #9A1B29;
    border: none;
    border-radius: 10px;
}

#upload_btn:hover, #send_button:hover{
    color: #9A1B29;
    background: white
}

#upload_input, #file_drop, #choose_file_txt
{
    display: none;
}


/*** CSS for small screens ***/

/** move buttons in nav bar farther left **/
@media only screen and (max-width: 1230px)
{
    #nav_btn
    {
        margin-left: 58%;
    }
}


@media only screen and (max-width: 900px)
{
    #nav_btn
    {
        margin-left: 50%;
    }

}


/** Makes buttons in nav bar a toggle menu **/

@media only screen and (max-width: 750px)
{
    #logo
    {
        display: none;
    }

    #nav_btn
    {
        display: none;
    }

    #menu_icon
    {
        display: inline-block;
    }

    #logo_small_screen
    {
        display: inline-block;
    }

    .col-md-8
    {
        width: inherit;
        margin-left: 20px;
    }

    #messageForm
    {
       margin-left: auto;
        margin-right: auto;
    }


}

@media only screen and (max-width: 470px)
{

    .form-group
    {
        width: 300px;
    }

    #message
    {

        width: 200px;
        margin-right: 10px;
    }

    #button_elements
    {
        width: 80px;
    }


}

@media only screen and (max-height: 640px)
{
    #nav_bar
    {
        height: 40px;
    }

    #logo, #logo_small_screen
    {
        height: 50px;
        width: 128px;
        margin-top: -5px;
    }

    .nav_button
    {
        margin-top: 0px;
        font-size: 15px;
    }

    #menu_icon
    {
        margin-top: 10px;
        margin-left: 10px;
        height: 20px;
        width: 20px;
    }

    #name
    {
        font-size: 23px;
    }

    #num_of_users
    {
        margin-top: -20px;
        font-size: 15px;
    }

    .sent
    {
        font-size: 12px;
    }

    .well
    {
        font-size: 12px;
    }

    #messageForm
    {
        height: 80px;
    }

    .form_group
    {
        height: 80px;
    }

    #message
    {
        height: 80px;
    }

    #button_elements
    {
        height: 80px;
    }

    #send_button
    {
        font-size: 12px;
        height: 36px;
    }

    #upload_btn
    {
        font-size: 12px;
        height: 36px;
    }
}

/*

COLORS
#9A1B29 rgb(154,27,41)
#BE906C rgb(190,144,108)
#E8E6E9 rgb(232,230,233)
#757881 rgb(117,120,129)
#AAA
#222    rgb(34,34,34)
#FFF

FONTS
font-family: 'Nunito Sans', sans-serif;

*/


