body
{
    background: #AAA;
}

#container
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
    color: #222;
}

#title
{
    color: #9A1B29;
    font-weight: bolder;
    margin-bottom: 15%;
}

#login_form
{

}

p
{
    margin-bottom: 0;
    font-size: 15px;
}

input
{
    height: 25px;
    border-radius: 10px;
    border: none;
    background: #DDD;
}

#password
{
    margin-bottom: 10%;
}

#submit_button
{
    height: 35px;
    width: 100px;
    background: #9A1B29;
    color: #FFF;
    border: none;
    border-radius: 17px;
}


/*

COLORS
#9A1B29 rgb(154,27,41)
#BE906C rgb(190,144,108)
#E8E6E9 rgb(232,230,233)
#757881 rgb(117,120,129)
#AAA
#222    rgb(34,34,34)
#FFF


